<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Sentimental Analysis</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="SIH" name="author" />
    <link rel="shortcut icon" href="./static/images/favicon.ico" type='image/x-icon' />
    <link rel='icon' href='./static/images/favicon.ico' type='image/x-icon' />
    <!--Chartist Chart CSS -->
    <link rel="stylesheet" href="../static/plugins/chartist/css/chartist.min.css">

    <link href="./static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./static/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="./static/css/icons.css" rel="stylesheet" type="text/css">
    <link href="./static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="/dashboard" class="logo">
                    <span>
                                <img src="./static/images/ReviewBay.png" alt="" height="200">
                            </span>
                    <i>
                                <img src="./static/images/ReviewBay.png" alt="" height="100">
                            </i>
                </a>
            </div>

            <nav class="navbar-custom">
                <ul class="navbar-right list-inline float-right mb-0">

                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                        <form action='/searchQuery' method='POST' role="search" class="app-search">
                            <div class="form-group mb-0">


                                <input type="text" class="form-control" placeholder="Search.." name="search_query">

                                <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        </div>
                        </form>
                    </li>


                    <!-- full screen -->
                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                        <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-fullscreen noti-icon"></i>
                        </a>
                    </li>
                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                        <a class="nav-link waves-effect" href="/logout" id="btn-fullscreen">
                           Logout
                        </a>
                    </li>


                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title"> </li>
                        <li class="menu-title"> </li>
                        <li class="menu-title"> </li>

                        <li class="menu-title">Main</li>
                        <li>
                            <a href="/dashboard" class="waves-effect">
                                <i class="ti-home"></i><span class="badge badge-primary badge-pill float-right">{{ total_not }}</span> <span>Total Analysis</span>
                            </a>
                        </li>
                        <li>
                            <a href="/dynamicView" class="waves-effect"><i class="ti-ruler"></i><span> Dynamic View Area </span></a>
                        </li>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">

                            <div class="col-sm-6">
                                <h4 class="page-title">Dashboard</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active">Welcome to Review Bay Dashboard</li>
                                </ol>

                            </div>

                        </div>
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-xl-3 col-md-5">
                            <div class="card mini-stat bg-primary text-white">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <div class="float-left mini-stat-img mr-4">
                                            <img src="./static/images/services-icon/01.png" alt="">
                                        </div>
                                        <h5 class="font-16 text-uppercase mt-0 text-white-50">TOTAL PRODUCTS</h5>
                                        <h4 class="font-500">{{ num_products }}<i class="mdi mdi-arrow-up text-success ml-2"></i></h4>

                                        <!--<div class="mini-stat-label bg-success">
                                            <p class="mb-0">+ 12%</p>
                                        </div>-->

                                    </div>
                                    <div class="pt-2">
                                        <div class="float-right">
                                            <a href="/downloadResults" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                        </div>

                                        <p class="text-white-50 mb-0">Reviewed and Predicted</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card mini-stat bg-primary text-white">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <div class="float-left mini-stat-img mr-4">
                                            <img src="./static/images/services-icon/02.png" alt="">
                                        </div>
                                        <h5 class="font-16 text-uppercase mt-0 text-white-50">GOOD PREDICTIONS</h5>
                                        <h4 class="font-500">{{ num_good }} <i class="mdi mdi-arrow-up text-success ml-2"></i></h4>

                                        <div class="mini-stat-label bg-success">
                                            <p class="mb-0"> {{ good_percent }}%</p>
                                        </div>

                                    </div>
                                    <div class="pt-2">
                                        <div class="float-right">
                                            <a href="/goodPreds" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                        </div>

                                        <p class="text-white-50 mb-0">Precisely Predicted</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card mini-stat bg-primary text-white">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <div class="float-left mini-stat-img mr-4">
                                            <img src="./static/images/services-icon/03.png" alt="">
                                        </div>
                                        <h5 class="font-16 text-uppercase mt-0 text-white-50">NEUTRAL PREDICTIONS</h5>
                                        <h4 class="font-500">{{ num_neutral }} <i class="mdi mdi-arrow-up text-success ml-2"></i></h4>
                                        <div class="mini-stat-label bg-success">
                                            <p class="mb-0"> {{ neutral_percent }}%</p>
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="float-right">
                                            <a href="/neutralPreds" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                        </div>

                                        <p class="text-white-50 mb-0">Precisely Predicted</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card mini-stat bg-primary text-white">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <div class="float-left mini-stat-img mr-4">
                                            <img src="./static/images/services-icon/04.png" alt="">
                                        </div>
                                        <h5 class="font-16 text-uppercase mt-0 text-white-50">BAD PREDICTIONS</h5>
                                        <h4 class="font-500">{{ num_bad }} <i class="mdi mdi-arrow-up text-success ml-2"></i></h4>
                                        <div class="mini-stat-label bg-success">
                                            <p class="mb-0">{{ bad_percent }}%</p>
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="float-right">
                                            <a href="/badPreds" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                        </div>

                                        <p class="text-white-50 mb-0">Precisely Predicted</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-xl-15">
                            <div class="row-xl-20">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mt-0 header-title mb-5">Analysis</h4>
                                        <div class="graph1">
                                            <img src="/plot.png" alt="my plot">
                                            <p class="graph1">Enter graph1 over here</p>
                                            <h3> some messg</h3>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div>
                                                    <div id="chart-with-area" class="ct-chart earning ct-golden-section"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="text-center">

                                                        </div>

                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="text-center">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <h4 class="mt-0 header-title mb-4">Sales Analytics</h4>
                                    </div>
                                    <div class="wid-peity mb-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted">Online</p>
                                                    <h5 class="mb-4">1,542</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-4">
                                                    <span class="peity-line" data-width="100%" data-peity='{ "fill": ["rgba(2, 164, 153,0.3)"],"stroke": ["rgba(2, 164, 153,0.8)"]}' data-height="60">6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wid-peity mb-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted">Offline</p>
                                                    <h5 class="mb-4">6,451</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-4">
                                                    <span class="peity-line" data-width="100%" data-peity='{ "fill": ["rgba(2, 164, 153,0.3)"],"stroke": ["rgba(2, 164, 153,0.8)"]}' data-height="60">6,2,8,4,-3,8,1,-3,6,-5,9,2,-8,1,4,8,9,8,2,1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted">Marketing</p>
                                                    <h5>84,574</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-4">
                                                    <span class="peity-line" data-width="100%" data-peity='{ "fill": ["rgba(2, 164, 153,0.3)"],"stroke": ["rgba(2, 164, 153,0.8)"]}' data-height="60">6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title mb-4">Sales Report</h4>

                                    <div class="cleafix">
                                        <p class="float-left"><i class="mdi mdi-calendar mr-1 text-primary"></i> Jan 01 - Jan 31</p>
                                        <h5 class="font-18 text-right">$4230</h5>
                                    </div>

                                    <div id="ct-donut" class="ct-chart wid"></div>

                                    <div class="mt-4">
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr>
                                                    <td><span class="badge badge-primary">Desk</span></td>
                                                    <td>Desktop</td>
                                                    <td class="text-right">54.5%</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="badge badge-success">Mob</span></td>
                                                    <td>Mobile</td>
                                                    <td class="text-right">28.0%</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="badge badge-warning">Tab</span></td>
                                                    <td>Tablets</td>
                                                    <td class="text-right">17.5%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title mb-4">Activity</h4>
                                    <ol class="activity-feed">

                                    </ol>
                                    <!--
                                    <div class="text-center">
                                        <a href="#" class="btn btn-primary">Load More</a>
                                    </div>
                                -->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-16">
                        <div class="card bg-primary">
                            <div class="card-body">
                                <div class="text-center text-white py-4">
                                    <h5 class="mt-0 mb-4 text-white-50 font-16">Top Product Sale</h5>
                                    <h1>1452</h1>
                                    <p>Computer</p>
                                    <p class="text-white-50 mb-0">At solmen va esser necessi far uniform myth... <a href="#" class="text-white">View more</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <!-- end row -->

    </div>
    </div>
    <!-- end row -->
    </div>
    <!-- container-fluid -->

    </div>
    <!-- content -->

    <footer class="footer">
        © 2019 Review Bay <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> at M.I.T</span>.
    </footer>

    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <!-- jQuery  -->
    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/bootstrap.bundle.min.js"></script>
    <script src="./static/js/metisMenu.min.js"></script>
    <script src="./static/js/jquery.slimscroll.js"></script>
    <script src="./static/js/waves.min.js"></script>

    <!--Chartist Chart-->
    <script src="../static/plugins/chartist/js/chartist.min.js"></script>
    <script src="../static/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script>

    <!-- peity JS -->
    <script src="../static/plugins/peity-chart/jquery.peity.min.js"></script>

    <script src="./static/pages/dashboard.js"></script>

    <!-- App js -->
    <script src="./static/js/app.js"></script>

</body>

</html>