<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>Review Bay</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="./static/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="./static/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="./static/style.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="./static/css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="./static/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="./static/css/custom.css">

<!-- Modernizer for Portfolio -->
<script src="./static/js/modernizer.js">
</script>

<link rel="stylesheet" type="text/css" href="./static/botStatics/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body class="host_version">

    <!-- Modal -->
    <div class="modal fade" id="logon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header tit-up">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Helper Bot</h4>
                </div>
                <div class="modal-body customer-box">
                    <div>
                        <div id="chatbox">
                            <p class="botText"><span>Hi! I'm Chatterbot.</span></p>
                        </div>
                        <div id="userInput">
                            <input id="textInput" type="text" name="msg" placeholder="Message">
                            <input id="buttonInput" type="submit" value="Send">
                        </div>
                        <script>
                            function getBotResponse() {
                                var rawText = $("#textInput").val();
                                var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                                $("#textInput").val("");
                                $("#chatbox").append(userHtml);
                                document.getElementById('userInput').scrollIntoView({
                                    block: 'start',
                                    behavior: 'smooth'
                                });
                                $.get("/get", {
                                    msg: rawText
                                }).done(function(data) {
                                    var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                                    $("#chatbox").append(botHtml);
                                    document.getElementById('userInput').scrollIntoView({
                                        block: 'start',
                                        behavior: 'smooth'
                                    });
                                });
                            }
                            $("#textInput").keypress(function(e) {
                                if (e.which == 13) {
                                    getBotResponse();
                                }
                            });
                            $("#buttonInput").click(function() {
                                getBotResponse();
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header tit-up">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Customer Login</h4>
                </div>
                <div class="modal-body customer-box">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li><a class="active" href="#Login" data-toggle="tab">Login</a></li>
                        <li><a href="#Registration" data-toggle="tab">Registration</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="Login">
                            {% with messages = get_flashed_messages() %} {% if messages %}
                            <div class="notification is-danger">
                                {{ messages[0] }}
                            </div>
                            {% endif %} {% endwith %}
                            <form action="/login" method="POST" role="form" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="email1" placeholder="Email" type="text" name="email1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password" name="password">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
										Submit
									</button>
                                        <a class="for-pwd" href="javascript:;">Forgot your password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="Registration">
                            {% with messages = get_flashed_messages() %} {% if messages %}
                            <div class="notification is-danger">
                                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login_post') }}">login page</a>.
                            </div>
                            {% endif %} {% endwith %}
                            <form action='/signup' method="POST" role="form" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" placeholder="Name" type="text" style: font-color="black" name='name' required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="email" placeholder="Email" name='email' type="email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="mobile" placeholder="Mobile" type="number" name='mob'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="password" placeholder="Password" type="password" required name='pwd'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
										Submit
                                    </button>
                            </form>
                            <button class="btn btn-light btn-radius btn-brd grd1"><a href="/"></a>
										Cancel
									</button>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="./static/images/rsz_1rsz_1579321449832.png" alt="" style="width:100%;height:100%;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log" href="#" data-toggle="modal" data-target="#login"><span>Customer Login</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log" href="#" data-toggle="modal" data-target="#logon"><span>Chat Bot</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div id="home" class="first-section" style="background-image:url('./static/images/silhouette-of-mountains-during-dawn-1809644.jpg');">
                    <div class="dtab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-right">
                                    <div class="big-tagline">
                                        <h2><strong>Review</strong> BAY</h2>
                                        <p class="lead">Review Bay is a customer review management platform that uses sentimental analysis to provide the insights for your data. A single platform for managing all your feedbacks.</p>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div id="home" class="first-section" style="background-image:url('./static/images/nature-sky-sunset-the-mountains-66997.jpg');">
                    <div class="dtab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-left">
                                    <div class="big-tagline">
                                        <h2 data-animation="animated zoomInRight">Get the review of your products <strong>Statistically</strong></h2>
                                        <p class="lead" data-animation="animated fadeInLeft">With Review Bay feedback system you can analyze your product reviews in graphical manner.</p>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div id="home" class="first-section" style="background-image:url('./static/images/milky-way-illustration-1169754.jpg');">
                    <div class="dtab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <div class="big-tagline">
                                        <h2 data-animation="animated zoomInRight"><strong>About </strong>Review Bay</h2>
                                        <p class="lead" data-animation="animated fadeInLeft">We classify the reviews mainly in three class that are positive, negative and neutral</p>
                                        <!---<a href="#" class="hover-btn-new"><span>Contact Us</span></a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="#" class="hover-btn-new"><span>Read More</span></a>-->
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end container -->
                    </div>
                </div>
                <!-- end section -->
            </div>
            <!-- Left Control -->
            <a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div class="col-lg-12" bg-dark>
        <div class="customwidget text-center">
            <h1>
                <font color="white">Get Started</font>
            </h1>
            <p>
                <font color="white"><strong>Wanna check how it works?? Give a try, enter a review down here..</strong></font>
            </p>
            <form action='/predict' method='get'>
                Sample Text:
                <textarea id="confirmationText" class="text" cols="80" rows="2" name="text"></textarea>
                <h1> </h1>
                <button type="submit">Predict</button>
            </form>
            <div class='col -sm 2 active'>
                <h1> </h1>
                <h1> </h1>
                <img src="/static/images/negative.png">

                <font color="white" face="verdana">{{ neg_p }}<strong> negative</strong> </font>

                <img src="static/images/positive.png">
                <font color="white" face="verdana">{{ pos_p }}<strong> positive<strong></font>
                <img src="static/images/neutral.png">
                <font color="white" face="verdana">{{ neu_p }} <strong>neutral</strong></font>

            </div>

            <!---<p>Pursuing high quality standards, my greatest efforts are focused on producing semantic, SEO-friendly, valid and clean code. In order to stay effective and relevant in this constantly evolving sphere I always try to be in touch with the latest news and recent approaches in programming.</p>-->
            <!---<ul class="list-inline">
                            <li><i class="fa fa-check"></i> 20k Domains Sold in 2017</li>
                            <li><i class="fa fa-check"></i> 4k Website Created</li>
                        </ul>
                         end list -->
            <!---<a href="#" class="hover-btn-new"><span>Hosting Packages</span></a>-->
            <h1> </h1>
            <h1> </h1>
            <h1> </h1>
            <h1> </h1>
        </div>
    </div>

    <!-- end col -->
    </div>
    <!-- end row -->
    </div>
    <!-- end container -->
    </div>
    <!-- end section -->

    </form>
    </div>

    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About</h3>
                    <p class="lead">Review Bay helps you easily analyze the reviews given for a product. You can get the average rating and also individual rating for the product entered. Instead of searching and looking for millions of reviews Review Bay makes you work
                        easy by classifying the product rating in good, bad, neutral.</p>
                </div>
            </div>
            <!-- end title -->


            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>About US</h3>
                                </div>
                                <p> Review Bay is a feedback management system which works on the principle of "Sentiment Analysis".</p>
                                <p>"This web application is designed by team h3lloworld.py"</p>
                            </div>
                            <!-- end clearfix -->
                        </div>
                        <!-- end col -->



                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>Contact Details</h3>
                                </div>

                                <ul class="footer-links">
                                    <li><a href="mailto:#">info@yoursite.com</a></li>
                                    <li><a href="#">www.yoursite.com</a></li>
                                    <li>Manipal Insitute of Technology, Manipal</li>
                                    <li>+91 9766417402</li>
                                </ul>
                                <!-- end links -->
                            </div>
                            <!-- end clearfix -->
                        </div>
                        <!-- end col -->

                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </footer>
            <!-- end footer -->

            <div class="copyrights">
                <div class="container">
                    <div class="footer-distributed">
                        <div class="footer-left">
                            <p class="footer-company-name">All Rights Reserved. &copy; 2020</p>
                        </div>

                        <div class="footer-right">
                            <ul class="footer-links-soi">
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                            </ul>
                            <!-- end links -->
                        </div>
                    </div>
                </div>
                <!-- end container -->
            </div>
            <!-- end copyrights -->

            <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

            <!-- ALL JS FILES -->
            <script src="./static/js/all.js"></script>
            <!-- ALL PLUGINS -->
            <script src="./static/js/custom.js"></script>
            <script src="./static/js/timeline.min.js"></script>
            <script>
                timeline(document.querySelectorAll('.timeline'), {
                    forceVerticalMode: 700,
                    mode: 'horizontal',
                    verticalStartPosition: 'left',
                    visibleItems: 4
                });
            </script>
</body>

</html>