<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Pricing</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- //Meta tag Keywords -->

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap" rel="stylesheet">
    <!-- //google fonts -->

    <!--/Style-CSS -->
    <link rel="stylesheet" href="./static/css/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <!--/fontAwesome-CSS -->
    <link rel="stylesheet" href="./static/css/                                              css/fontAwesome.css" type="text/css" media="all" />
    <!--/fontAwesome-CSS -->
</head>

<body>
    <!-- pricing plans -->
    <section class="w3l-pricing-7-main" id="bottom">
        <div class="pricing-7-sec">
            <div class="wrapper pricing-grid">
                <h3 class="heading">Pay as you Grow</h3>
                <div class="pricing-sec-7">
                    <!-- pricing grid 1 -->
                    <div class="pricing-gd-left pric-7-1">
                        <div class="w3l-pricing-7">
                            <div class="w3l-pricing-7-top">
                                <h6 class="one-light">Community</h6>
                                <p class="para">Perfect for personal use</p>
                                <h4><label>$</label>1<span>/project</span></h4>
                            </div>
                            <div class="w3l-pricing-7-bottom">
                                <div class="w3l-pricing-7-bottom-bottom">
                                    <ul class="links">
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">API calls upto 50,000<span>/campaign</span></p>

                                        </li>
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">Full Tech Support</p>

                                        </li>
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">10 GB SSD Cloud Storage</p>

                                        </li>
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">No Monthly Backups</p>

                                        </li>
                                    </ul>
                                </div>
                                <div class="buy-button">
                                    <a class="popup btn button-eff" href="/">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //pricing grid 1 -->
                    <!-- pricing grid 2 -->
                    <div class="pricing-gd-left pric-7 active">
                        <div class="w3l-pricing-7">
                            <div class="w3l-pricing-7-top">
                                <h5>Kick Wheels!</h5>
                                <h6>STARTUP</h6>
                                <p class="para">Perfect for beginners</p>
                                <h4><label>$</label>0<span>-free-trial</span></h4>
                            </div>
                            <div class="w3l-pricing-7-bottom">
                                <div class="w3l-pricing-7-bottom-bottom">
                                    <ul class="links">
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">1000 API calls</p>

                                        </li>
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">Full Tech Support</p>

                                        </li>
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">Cloud Storage through the trial.</p>

                                        </li>
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">NO Montly Backups</p>

                                        </li>


                                    </ul>
                                </div>
                                <div class="buy-button">
                                    <a class="popup btn button-eff" href="/">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //pricing grid 2 -->
                    <!-- pricing grid 3 -->
                    <div class="pricing-gd-left pric-7-2">
                        <div class="w3l-pricing-7">
                            <div class="w3l-pricing-7-top">
                                <h6 class="one-light">Developer</h6>
                                <p class="para">Perfect for small business</p>
                                </p>
                                <h4><label>$</label>10<span>/month</span></h4>
                            </div>
                            <div class="w3l-pricing-7-bottom">
                                <div class="w3l-pricing-7-bottom-bottom">
                                    <ul class="links">
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">More than 50,000 API calls</p>

                                        </li>
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">24/7 Tech Support</p>

                                        </li>
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">40 GB SSD Cloud Storage</p>

                                        </li>
                                        <li>
                                            <div class="tick-mark"><span class="fa fa-check" aria-hidden="true"></span>
                                            </div>
                                            <p class="tick-info">Monthly Backups</p>

                                        </li>

                                    </ul>
                                </div>
                                <div class="buy-button">
                                    <a class="popup btn button-eff" href="/">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pricing grid 3 -->
                </div>

            </div>
        </div>
    </section>
    <!-- //pricing plans -->
</body>

</html>