

/* ==============
  directory
===================*/

.directory-card{
  .social-links{
    li{
      a{
        margin-bottom: 6px;
      }
    }
  }
  hr{
    border-color: rgba($white, 0.1);
  }
}